body{
    margin: 0;
    background-color: rgb(100, 76, 31);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-size: 2rem;
}

#form{
    background-color: rgb(247, 187, 220);
    height: 22rem;
    width: 35rem;
    text-align: center;
    box-shadow: 4px 4px 8px rgb(35, 10, 10);
    border-radius: 15px;
    position: relative;
}
.statement{
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: 2.3rem;
    text-align: left;
}
#textarea{
    height: 6rem;
    width: 30rem;
    border: 3px solid rgb(197, 202, 197);
    border: none;
    resize: none;
}

#textarea :active {
    border-color: white;
    border: none;
    border: 3px solid rgb(197, 202, 197);
    outline: none;
    
}

#textarea:focus{
    outline: none;
    border: 3px solid rgb(197, 202, 197);
    
}
.counter{
    color:rgb(146, 124, 117);
    font-size: 25px;
    display:flex;
    left:2.5rem;
    position:absolute;
    
    
    
}
.remaining{
    color:rgb(146, 124, 117);
    display: flex;
    right: 2.5rem;
    font-size: 25px;
    position: absolute;
    
}
::placeholder{
    font-family: cursive;
    font-size: 1.3rem;
}
textarea{
    font-family: cursive;
    color: blue;
    font-size: 1.3rem;
}
.digit1{
    color: blueviolet;
}
.digit2{
    color: red;
}